# Database
DATABASE_URL= "Your PostgreSQL DB URL"
# JWT
JWT_SECRET="Your JWT Secret"
JWT_EXPIRES_IN="Expiration time for User Sessions"

# Server
PORT= "Your Port"
NODE_ENV="Your Node Environment"

# Client URL (for CORS)
CLIENT_URL="Your Client URL"
